extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Ben Tyler

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am passionate about making water resources data accessible to both decision makers and the general public. This passion has led me down the path of web development with a focus on creating data-driven applications. I am constantly striving to learn more whether it be about about water resources, and tech and how they can be combined to answer questions.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS 
          li JavaScript
          li Git 
          li GitHub
          li APIs
          li Node.js
          li Express
          li NPM
          li Microsoft Office Suite
          li Google Drive Suite
          li GIS
          li Water Resources
          
        h6 Contact Info

        //- Add your own contact info
        ul
          li 555-555-1234
          li youdontneedtoknowthis@email.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/ben-tyler-974923bb/') LinkedIn
        a.button.expanded(href='https://github.com/tylerben') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
